.color0 {
	background-color: white;
}


.color1 {
        background-color: skyblue;
}
.color2 {
        background-color: pink;
}       

.color3 {
        background-color: purple;
}       


.color4 {
        background-color: white;
}

